<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginControl</servlet-name>
        <servlet-class>control.loginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupControl</servlet-name>
        <servlet-class>control.signupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>control.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomList</servlet-name>
        <servlet-class>adminControl.roomList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRoom</servlet-name>
        <servlet-class>adminControl.createRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>control.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoom</servlet-name>
        <servlet-class>adminControl.deleteRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRoom</servlet-name>
        <servlet-class>adminControl.updateRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginControl</servlet-name>
        <url-pattern>/js/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupControl</servlet-name>
        <url-pattern>/js/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/js/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomList</servlet-name>
        <url-pattern>/admin/room/roomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRoom</servlet-name>
        <url-pattern>/admin/room/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/js/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoom</servlet-name>
        <url-pattern>/admin/room/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRoom</servlet-name>
        <url-pattern>/admin/room/update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
