@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

.head_container {
  max-width: 90%;
  margin: auto;
}

/*--------------header--------*/
header {
  height: 8vh;
  background-color: rgba(17,78,123,255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo img {
  width: 120px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.hambuger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li:not(:last-child) a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}
header ul li:last-child{
  background-color: #fff;
  padding: 0.7rem;
  font-size:0.8rem;
  border-radius: 5px;
}
header ul li a:hover {
  color: #C1B086;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  header ul {
    display: block;
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  header ul.active {
    left: 0%;
  }

  header ul li {
    margin: 2.5rem 0;
  }

  header ul li a {
    color: black;
  }

  .hambuger {
    display: block;
    cursor: pointer;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*--------------header--------*/
/*--------------home--------*/
.home .images img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 480px;
    margin-top: 3rem;
  }
  
  .home .text {
    max-width: 50%;
    color: white;
    margin-top: 12rem;
    margin-left: 8rem;
  }
  
  .home h1 {
    font-size: 70px;
    font-weight: 400;
    margin-left: 23rem;
    font-family: 'Times New Roman', Times, serif;
  }
  

  .home .text {
    position: relative;
  }
  /*--------------home--------*/
   /*-----------service-----------*/

  .services label{
      font-size: 130%;
  }
  .services span{
    color: #878788;
  }
  .services{
    background-color: rgb(234, 242, 250);
    padding-left: 1rem;
    padding-top: 1rem;
    line-height: 2.5rem;
    border:  2px solid #C1B086;
    box-shadow: 5px 5px #d3c9af;
    width: 83%;
    height: 80%;
  }
  .search{
      margin-bottom: 2rem;
     
  }
  /*------------service-----------*/
  /*--------------book--------*/
  .fix-grid{
      display: grid;
      grid-template-columns: 40% 60%;
  }
.flex {
    display: flex;
  }
  
  .grid1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .book {
    /* width: 99%;
    height: 20vh; */
    color: white;
    margin-left: 17%;
  
  }
  .booking-infor{
   
    margin-top: 20%;
  }
  .infor-add{
    margin-right: 10%;
    margin-bottom: 2%;
  }
  .bar1{
    display: block;
    width: 80rem;
    height: 2px;
   background-color: #C1B086;
    margin-bottom: 2%;
  }
  .infor-add p{
    background-color: #c19b77;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  .information p{
    font-size: 2rem;
    margin-top: 3%;
    margin-bottom: 4%;
    color: black;
 
  } 
  .information input{
    width: 36rem;;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #F9F9F9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 0px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #878787;

  }
 textarea{
  font-family: monospace;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-transform: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  width: 74rem;
  height: 6rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  background-color: #F9F9F9;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 0px;
  border-style: solid;
  padding: 10px 20px;
 }
 .checkout{
   background-color: #C19B77;
   padding: 0.7rem 2rem ;
   color: #fff;
   border: #C19B77;
   margin-left: 10rem;
 }
 .infor-bottom{
  font-family: 'Times New Roman', Times, serif;
  color: #878788;
 }
  .information{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Times New Roman', Times, serif;
 
  } 
  .information{
    color: #878788;
  }
  .book .input {
    background: #242e5a;
    padding: 30px 88px 39px 36px;
  }
  
 .book input {
    width: 120%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: white;
  }
  
  ::placeholder {
    color: white;
  }
  
  .book .search input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
  }
  
  /*--------------book--------*/

/*--------------map--------*/
.map iframe {
  width: 100%;
  margin-bottom: 5rem;
  margin-top: 10rem;
}

/*--------------map--------*/
/*--------------footer--------*/
footer h3 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 15px;
  transition: 0.5s;
}

footer li:hover {
  color: #C1B086;
  cursor: pointer;
}

/*--------------footer--------*/

