/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2022, 10:15:59 PM
    Author     : win
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: auto;
}

.head_container {
    max-width: 90%;
    margin: auto;
}

/*--------------header--------*/
header {
    height: 8vh;
    background-color: rgba(17,78,123,255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo img {
    width: 120px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.hambuger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    margin-left: 3rem;
}

header ul li:not(:last-child) a {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    transition: 0.5s;
}
header ul li:last-child{
    background-color: #fff;
    padding: 0.7rem;
    font-size:0.8rem;
    border-radius: 5px;
}
header ul li a:hover {
    color: #C1B086;
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {
    header ul {
        display: block;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 20;
    }

    header ul.active {
        left: 0%;
    }

    header ul li {
        margin: 2.5rem 0;
    }

    header ul li a {
        color: black;
    }

    .hambuger {
        display: block;
        cursor: pointer;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*--------------header--------*/
/*--------------home--------*/
.home .images img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 480px;
    margin-top: 3rem;
}

.home .text {
    max-width: 50%;
    color: white;
    margin-top: 12rem;
    margin-left: 8rem;
}

.home h1 {
    font-size: 70px;
    font-weight: 400;
    margin-left: 23rem;
    font-family: 'Times New Roman', Times, serif;
}


.home .box .text {
    position: relative;
}
/*--------------home--------*/
/*--------------book--------*/
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.book {
    margin-top: 17%;
    width: 99%;
    height: 20vh;
    color: white;
    margin-left: 1%;
}

.book .input {
    background: #242e5a;
    padding: 20px 20px 40px 20px;
}

.book input {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    outline: none;
    background: #263760;
    margin-top: 20px;
    color: white;
}

::placeholder {
    color: white;
}

.book .search input {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

/*--------------book--------*/
  /*-----------service-----------*/
  .view{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .services label{
      font-size: 130%;
  }
  .services span{
    color: #878788;
  }
  .services{
    background-color: rgb(234, 242, 250);
    padding-left: 1rem;
    padding-top: 1rem;
    line-height: 2.5rem;
    border:  2px solid #C1B086;
    box-shadow: 5px 5px #d3c9af;
    width: 23.4rem;
  }
  .search{
      margin-top: 2rem;
  }
  /*------------service-----------*/
/*----------------room-------------*/

.room-des img{
  width: 23.8rem;
  height: 17rem;
  margin-right: 5%;
}


.room-text img{
  width: 7%;
  height: 7%;
  margin-top: 2px;
 
}
.room-text img:last-child{
  width: 7%;
  height: 7%;
  margin-left: 1rem;
 
}

.room-text h3{
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  margin-top: 1rem;
}
.room-text{
  padding-left: 2rem;
  padding-right: 3.7rem;
  border: 1px solid #C1B086;
  width: 97%;
}
.room-text p{
  color: #878788;
}
.room-flex{
  display: flex;
  margin-top: 0.8rem;
}

.room-text input{
  width: 10rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: #fff;
  letter-spacing: 0.7px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid black;
  font-family: 'Gilda Display', sans-serif;
}
.room-text input:hover{
  background-color: #C1B086;
  color: #fff;
}


.room-text p:nth-child(3){
  margin-top: 0.8rem;
  color: #878788;
  font-size: 15px;
}
.img-room:last-child{
  margin-top: 2rem;
  margin-bottom: 5rem;
}



/*--------------map--------*/
.map iframe {
    width: 100%;
    margin-bottom: 5rem;
}

/*--------------map--------*/
/*--------------footer--------*/
footer h3 {
    margin-bottom: 20px;
}

footer li {
    margin-bottom: 15px;
    transition: 0.5s;
}

footer li:hover {
    color: #C1B086;
    cursor: pointer;
}

/*--------------footer--------*/

